.container {
    background-color: #f0f0f0;
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the container takes up the full viewport height */
}

