.container {
    background-color: #f0f0f0;
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 100vh; /* Make sure the container takes up the full viewport height */
  }
  
  .content-container {
    flex: 1; /* Allow the content to grow and take up remaining space */
    display: flex;
    flex-direction: column;
  }
  
  .bottom-navigation {
    margin-top: auto; /* Push the BottomNavigation to the bottom */
    width:100%;
  }

  .feeder{
    align-items: center;
    text-align: center;
    margin-top:30px;
  }

  #list{
    justify-content:center;
  }